.selectionbox{
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 30px;
    @media screen and (max-width: 700px) {
        justify-content: center;
    }
}
.selectionboxInner{
    padding: 3px 10px;
    border-radius: 2px;
    min-width:200px ;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.topBox{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 30px;
    @media screen and (max-width: 700px) {
        justify-content: center;
    }
}
.rightBox{
    border-left:1px solid rgb(183, 183, 183);
}
.commonBox{
    width:max-content;
    display: flex;
    border:1px solid rgb(183, 183, 183);
}
.year{
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding:10px;
}
.growth{
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding:10px 10px 0px 45px;
    display: flex;
    justify-content: start;
}
.population{
    padding: 20px;
    font-size: 42px;
    font-weight: 700;
    display: flex;
}
.lineChart{
    padding:0px 5px 5px 5px
}
.populationSuffix{
    padding: 20px 5px 10px 5px;
    font-size: 22px;
    font-weight: 700;
}
.header{
    color:white;
    background-color: blueviolet;
    padding: 10px;
    justify-content: left;
    display: flex;
    flex-direction: column;
}
.company{
    width: max-content;
    padding-left: 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 400;
}
.topText{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:20px 30px;
    font-size: 16px;
    font-weight: 600;
    @media screen and (max-width: 700px) {
        justify-content: center;
    }
}
.bottomText{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:5px 40px 30px 40px;
    font-size: 14px;
    font-weight: 400;
}
.mainChart{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:10px;
}
.widgetToolTip{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    padding: 3px 3px 3px 3px;
    width: 190px;
}
.widgetToolTipKey{
    font-weight: 500;
    font-size: 14px;
}
.options{
    font-weight: 500;
    font-size: 14px;
}
.chartStat{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:5px 30px;
}
.region{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px 20px;
    font-size: 12px;
    font-weight: 500;
    min-width: max-content;
}
.circle1{
    background-color: #f5cd3d;
    height:10px;
    width:10px;
    margin-right: 5px;
    border-radius: 50%;
}
.circle2{
    background-color: #38aafc;
    height:10px;
    width:10px;
    margin-right: 5px;
    border-radius: 50%;
}
.circle3{
    background-color: #a738fc;
    height:10px;
    width:10px;
    margin-right: 5px;
    border-radius: 50%;
}
.circle4{
    background-color: #73716e;
    height:10px;
    width:10px;
    margin-right: 5px;
    border-radius: 50%;
}